:root {
    --wordle-gray: #787c7e;
    --wordle-yellow: #c9b458;
    --wordle-green: #6aaa64;
    --wordle-background-gray: #d3d6da;
    --flip-delay: 0;
}

* {
    box-sizing: border-box;
    font-family: Open Sans;
}

body {
    height: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-link {
    padding-top: 10px;
    color: black;
    text-decoration: none;
}

.header-button {
    background-color: white;
    font-weight: bolder;
    border-radius: 12px;
    padding: 5px;
}

.header {
    height: 44px;
    border-bottom: 1px solid var(--wordle-background-gray);
}

.wordle-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 36px;
}

.row {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
    gap: 4px;
}

.letter-input {
    width: 62px;
    height: 62px;

    text-align: center;

    border: 1.5px solid var(--wordle-gray);
}

.letter {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.keyboard {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 100%;
    max-width: 500px;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letter-key {
    background-color: var(--wordle-background-gray);
    border: 0px solid var(--wordle-background-gray);
    border-radius: 3px;
    height: 58px;
    flex: 1;

    width: 40px;

    text-transform: uppercase;

    font-weight: bold;
    font-size: 1.25em;
    margin: 2px;
}

.enter-key {
    width: 80px;
    flex: 2;
}

.correct {
    color: white;
    background-color: var(--wordle-green);
    border-color: var(--wordle-green);
}

.notIncludes {
    color: white;
    background-color: var(--wordle-gray);
    border-color: var(--wordle-gray);
}

.includes {
    color: white;
    background-color: var(--wordle-yellow);
    border-color: var(--wordle-yellow);
}

@keyframes inputEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.95);
    }
}

@keyframes shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes card-flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.card-flip {
    animation: card-flip 0.5s ease;
    transform-origin: center;
    animation-delay: var(--flip-delay, 0s);
}

.shake {
    animation: shaking 0.25s ease;
    transform-origin: center;
}

.jumping {
    animation: jumping 0.5s ease;
    transform-origin: center;
}

.input-effect {
    animation: inputEffect 0.1s ease;
    border-color: var(--wordle-gray);
    transform-origin: center;
}
