:root {
    --wordle-gray: #787c7e;
    --wordle-yellow: #c9b458;
    --wordle-green: #6aaa64;
    --flip-delay: 0;
}

* {
    box-sizing: border-box;
    font-family: Open Sans;
}

body {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
    gap: 4px;
}

.letter-input {
    width: 62px;
    height: 62px;

    text-align: center;

    border: 1.5px solid var(--wordle-gray);
}

.letter {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

@keyframes inputEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.95);
    }
}

@keyframes shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes card-flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.card-flip {
    animation: card-flip 0.5s ease;
    transform-origin: center;
    animation-delay: var(--flip-delay, 0s);
}

.shake {
    animation: shaking 0.25s ease;
    transform-origin: center;
}

.jumping {
    animation: jumping 0.5s ease;
    transform-origin: center;
}

.input-effect {
    animation: inputEffect 0.1s ease;
    border-color: var(--wordle-gray);
    transform-origin: center;
}
